.hero {
    position: relative;
    min-width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero img{
   width: 100%;    
    object-fit: contain;
}

.hero h1 {
    position: absolute;
    top:80px;
    right: 60px;
    color:aliceblue;
    font-size: 40px;
    text-align: right;

}

.contenedor-portada {
    display: flex;
    justify-content: center;
    gap:50px;
    margin-top: 60px;

}
.card {
  background:#fff;
  border:1px solid #e5e7eb;
  border-radius:.75rem;
  overflow:hidden;
  max-width:320px
}
.card img {
  width:100%;
  height:auto;
  display:block
}
.card h3 {
  margin:8px 12px
}
.card p {
  margin:0 12px 12px;
  color:#6b7280
}
